*{
    background-color:  bisque;
    margin: 0px;
    padding: 0px;
}

h1{
    background-color: #fdffb6;
    text-align: center;
    justify-content: center;
    font-size: 15 rem;
}

.top{
    display: flex;
    justify-content: center;
    gap: 5 rem;
}

.robot{
    
    height: 250px;
    width: 250px;
    object-fit: cover;
    justify-content: center;
}

.robotImg{
    border-radius: 50%;
    height: 100%;
    width: 100% ;
}



