*{
    background-color:  bisque;
    margin: 0px;
    padding: 0px;
}
/* heading */
    h1{
        background-color: #fdffb6;
        text-align: center;
        justify-content: center;
        font-size: 15 rem;
    }
/* top */
    .top{
        display: flex;
        justify-content: center;
        gap: 5 rem;
    }

        .robot{
            margin-top: 10px;
            height: 200px;
            width: 200px;
            object-fit: cover;
            justify-content: center;
        }

            .robotImg{
                border-radius: 50%;
                height: 100%;
                width: 100% ;
            }

/* round */
    .wins{
        font-size: 25px;
        
    }

/* table */
    .table{
        border: solid black;
        text-align: center;
        font-size: 20px;
        margin:20px 20vw;
        
    }

.comAction{
    padding: 5vh;
    border-bottom: solid black 1px;
    
}

.comment{
    background-color: white;
}

.playerAction{
    padding: 5vh;
    border-top: solid black 1px;
    
}

.userInput{
    display: flex;
    justify-content: center;

    gap: 7vw;
    object-fit: cover;

}


.life{
    font-size: 25px;
    text-align: right;
    padding-right: 5%;
}

